html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	font-family: "Arial";
	background: url('/assets/img/background.png');
	background-size: 100%;
}
section {
	float: left;
	padding-top: 20px;
	height: 100%;
}
section.points {
	width: 20%;

	.point-single {
		border: 2px solid #333;
		width: 100%;
		margin: auto;
		max-width: 200px;
		height: 250px;
		overflow: hidden;
		border-radius: 2px;
		margin-bottom: 20px;
		background: white;

		header {
			border-bottom: 2px solid #333;
			padding: 10px;
			font-weight: 800;
		}
		.body {
			text-align:center;
		}
		img {
			width: 70%;
		}
	}
}
section.game {
	width: 60%;
	#game {
		width: 490px;
		height: 490px;
		margin: auto;
		background: url('/assets/img/plateau.png');
		background-size: 100%;
		.case {
			height: 70px;
			width: 70px;
			position: relative;
			float: left;
			box-shadow: 0px 0px 1px brown;
			img {
				width: 70px;
				position: absolute;
				bottom: 0;
				&.rotate {
					-moz-transform: scale(-1, 1);
					-webkit-transform: scale(-1, 1);
					-o-transform: scale(-1, 1);
					-ms-transform: scale(-1, 1);
					transform: scale(-1, 1);
				}
			}

		}
	}
	header {
		border: 2px solid #333;
		height: 40px;
		.player {
			float: left;
			width: 50%;
			text-align:center;
			padding-top: 10px;
		}
	}
}
section.scores {
	width: 20%;

	.score-array {
		border: 2px solid #333;
		width: 100%;
		margin: auto;
		max-width: 200px;
		height: 250px;
		overflow: hidden;
		border-radius: 2px;
		margin-bottom: 20px;
		background: white;

		header {
			border-bottom: 2px solid #333;
			padding: 10px;
			font-weight: 800;
		}
	}
}

div#main-container {
  display: none;
}

div#menu-container {
	#gametype, #gamelevel, #pickname {
		display: none;
	}
}
